@import "../../../../assets/theme.scss";

$textColor: #ffffff;

#customer-navbar {
  .navbar-default {
    background-color: #54C7C3;
    border: unset;
    border-radius: unset;
    padding: 5px 0px;
    &.home-background {
      background-color: #54C7C3;
    }
    li {
      &.cart {
        margin: 0px;
      }

      .icon {
        font-size: 18px;
      }
    }
  }

  .navbar-default .navbar-nav>li>a {
    color: $textColor;
    font-family: $fontFamily;
    font-size: 17px;
  }

  .navbar-brand {
    margin-left: 15px;
    padding: 18px 0 0 0;
    font-size: 25px;
    color: white;
  }
  .navbar-nav {
    .custom-active {
      border-top: 2px solid $highlightElements;
    }
  }
}

@media (min-width: 768px) {
  #customer-navbar {
    .navbar {
      .links {
        position: absolute;
        left: 40%;
        margin-left: -50px;
      }
      .icons {
        margin-right: 20px;
        float: right;
      }
      .icons-list {
        float: right;
      }
      .createy-log {
        margin-left: 15px;
      }
    }
    .navbar-nav {
      li {
        margin: 0 20px;
      }
      .custom-active-cart {
        border: 1px solid $highlightElements;
        border-radius: 30px;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1000px) {
  #customer-navbar {
    .navbar {
      .links {
        position: absolute;
        left: 30%;
        margin-left: -50px;
      }
    }
  }
}

@media (max-width: 767px) {
  #customer-navbar {
    .navbar-nav {
      text-align: center;
      .custom-active-cart {
        border-bottom: 2px solid $highlightElements;
      }
    }
  }
}
