$textColor: white;

.about {
  margin-top: -20px;
  .opening {
    .content {
      text-align: center;
      .title {
        color: white;
        font-size: 4rem;
        padding-top: 12rem;
        margin-bottom: 15px;
        height: 33rem;
      }
    }
  }
  .content {
    text-align: center;
    padding-top: 30px;
  }
}

@media (min-width: 768px){
  .home {
    .opening {
      width: 100%;
      min-height: 600px;
      padding-top: 200px;
      .content {
        .title {
          font-size: 50px;
        }
      }
    }
  }
}

@media (max-width: 767px){
  .home {
    .opening {
      min-height: 220px;
      padding-top: 100px;
      .content {
        .title {
          font-size: 20px;
        }
      }
    }
  }
}
