$backgroundColor2: #aaaaaa; // For Signin & SignUp Containers
$highlightElements: #ffffff; // Like highlighting the navbar active nav
$liginTextColor: #ffffff; // Login Text Color
$formSubmitButtonColor: #00a2e6; // Login Text Color
